rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Randomizer lists can only be read/written by the owner.
    match /randomizer_lists/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Classes can be created by any authenticated user.
    // They can only be read or modified by the user whose UID matches the trainerUid.
    match /classes/{classId} {
      allow read, update, delete: if request.auth != null && resource.data.trainerUid == request.auth.uid;
      allow create: if request.auth != null;
    }

    // Default deny all other access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
