
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Contests can be read by anyone, but only created by logged-in users.
    match /contests/{contestId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if false; // Protect from client-side updates/deletes for now
    }

    // Images can be read by anyone, but only created and voted on by logged-in users.
    match /images/{imageId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null && request.resource.data.votes == resource.data.votes + 1; // Only allow incrementing votes
      allow delete: if false; // Protect from client-side deletes
    }

    // Users can only manage their own vote data.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
